.nav__bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.nav__bar__active {
  background-color: #16171b;
  height: 100vh;
  overflow-y: hidden;
}

.navLogo {
  z-index: 12;
  height: 75px;
  display: flex;
  justify-content: space-between;
}

.navLogo__ico {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 0px 0px 4px 0px;
  background-color: transparent;
  background-color: red;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../img/icons/PS.svg");
}

.navLogo__btn {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.navLogo__burger__line__up,
.navLogo__burger__line__down {
  width: 35px;
  height: 3px;
  background-color: #fff;
  transition: all 0.5s ease;
}

.navLogo__burger__line__med {
  width: 20px;
  height: 3px;
  background-color: #fff;
  transition: all 0.5s ease;
}

.navLogo__btn:hover .navLogo__burger__line__med {
  width: 35px;
  transition: all 0.5s ease;
}

.navLogo__btn__a {
  position: relative;
  width: 60px;
  height: 60px;
}

.navLogo__burger__line__med__a {
  visibility: hidden;
}

.navLogo__burger__line__up__a {
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  width: 50px;
  transform: translateY(50%) rotate(45deg);
  transition: all 0.5s ease;
}
.navLogo__burger__line__down__a {
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  width: 50px;
  transform-origin: center;
  transform: translateY(50%) rotate(-45deg);
  transition: all 0.5s ease;
}
.top {
  background: linear-gradient(#16171be3 60%, #ff000000);
}

.menu {
  height: calc(100vh - 75px);
}
.navList__body {
}
