.header {
  /* visibility: hidden; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
}

.header__active {
  background-color: #16171b;
  /* opacity: 98%; */
}

.header__container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px auto;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 84px;
}

.navMenu__header {
  z-index: 12;
  height: 20vh;
  display: flex;
  justify-content: space-between;
}

.navMenu__header .burger {
  display: flex;
  flex-direction: column;
}

.navMenu__header button {
  padding: 30px 30px 0px 0px;
  height: 100%;
  width: 30vh;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  align-items: flex-start;
}

.navMenu__header span {
  border: solid 2px #fff;
  width: 40px;
  margin: 0px 0px 10px 0px;
}

.header__logo {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: transparent;
  background-color: red;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../img/icons/PS.svg");
}

.header__menu {
  max-width: 1140px;
}

.menu__body__active {
  visibility: hidden;
}

.menu__list > li {
  position: relative;
  margin: 0px 0px 32px 90px;
}

.menu__link {
  /* color: #333; */
  font-size: 64px;
  font-weight: 700;
  text-decoration: none;
  color: #535353;
}

.menu__link:hover {
  color: #f43534;
}
.menu__sub__list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #16171b;
  padding: 15px;
  min-width: 200px;
}

.menu__sub__list li {
  display: inline;
  margin: 0px 0px 10px 0px;
}
