.about {
  overflow: hidden;
  background: url("../../images/icons/about-bg.jpg") no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  color: #acacac;
  height: 100vh;
}

.overlay {
  background: rgba(22, 23, 27, 0.9);
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.about__shape {
  position: absolute;
  right: 0;
  z-index: 3;
  bottom: 30px;
  max-width: 630px;
  transform-origin: top right;
  animation: about-shape-move 8s ease infinite;
}

.about__shape img {
  display: block;
  max-width: 100%;
  border-style: none;
  vertical-align: middle;
}

.about__shape span {
  position: absolute;
  border-radius: 100%;
}

.circle1 {
  width: 128px;
  height: 128px;
  bottom: 40px;
  left: 100px;
  background: #f43534;
  animation: circle1-move 5s linear infinite;
}

.about__container {
  position: relative;
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .about__container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .about__container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .about__container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .about__container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .about__container {
    max-width: 1280px;
  }
}

.dot__pattern {
  position: absolute;
  left: -250px;
  bottom: 175px;
  rotate: 90deg;
  display: block;
  max-width: 100%;
  border-style: none;
  vertical-align: middle;
}

.about .about__img1 {
  position: relative;
  z-index: 2;
  left: 4px;
  width: 320px;
  display: block;
  background: url("../../images/bgd/hero-img-bg1.jpg") no-repeat center
    center/cover;
}

.about .about__img2 {
  position: relative;
  z-index: 2;
  left: 4px;
  width: 320px;
  display: block;
  background: url("../../images/bgd/hero-img-bg2.jpg") no-repeat center
    center/cover;
}

.about__content {
  z-index: 4;
  position: relative;
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 6px 100px 60px;
}

.about__content h2 {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  text-align: justify;
  margin-bottom: 52px;
  transition: all 1.2s ease 0.6s;
  font-size: 40px;
  line-height: 54px;
}

.about__content h5 {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  text-align: justify;
  font-size: 22px;
  line-height: 43px;
  font-weight: 400;
  max-width: 315px;
  margin-left: auto;
  transition: all 1.2s ease 0.8s;
}

@media (max-width: 1199px) {
  .about .about__content {
    padding: 86px 6px 85px 60px;
  }
}

@media (max-width: 991px) {
  .about .about__content {
    max-width: 480px;
    padding: 86px 6px 85px 20px;
  }
}
