h3 {
  font-size: 30px;
  line-height: 42px;
  position: relative;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
}

.single__skill h3 *:first-child {
  white-space: nowrap;
}

.single__skill p {
  margin: 15px 0;
  padding: 0px;
  font-size: 22px;
  line-height: 1.8;
  color: #acacac;
  -webkit-font-smoothing: antialiased;
}

.line {
  width: calc(100% - 185px);
  display: block;
  position: relative;
  top: 5px;
  margin-left: 30px;
  height: 2px;
}

.single__skill {
  width: 45%;
  max-width: 535px;
  margin-bottom: 50px;
  background: #1c1d21;
  padding: 15px 10px 20px;
  border-radius: 5px;
  border: 1px solid #26272d;
  position: relative;
  z-index: 1;
  align-self: stretch;
  transform: translateX(30px);
  opacity: 0;
  visibility: hidden;
  transition: all 1.5s ease 0.1s;
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.single__transform {
  transform: translate(0, 80px);
}

.rectengle {
  position: absolute;
  top: -8px;
  left: 8px;
  height: 34px;
  width: 95px;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 1%,
    rgba(78, 78, 78, 0.99) 99%,
    rgba(78, 78, 78, 1) 100%
  );
}

.circle {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  background: #f43534;
  border-radius: 100%;
  z-index: 3;
  box-shadow: 0 0px 0px 8px #333;
}

.circleRectangle {
  position: absolute;
  top: 55px;
}

.right__orient {
  transform: rotate(180deg);
}

.line {
  display: block;
  position: relative;
  top: 2px;
  margin-left: 30px;
  height: 2px;
  background: -moz-linear-gradient(
    left,
    rgba(78, 78, 78, 1) 0%,
    rgba(15, 15, 15, 0) 81%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(78, 78, 78, 1) 0%,
    rgba(15, 15, 15, 0) 81%,
    rgba(0, 0, 0, 0) 100%
  );
  background: linear-gradient(
    to right,
    rgba(78, 78, 78, 1) 0%,
    rgba(15, 15, 15, 0) 81%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e4e4e', endColorstr='#00000000',GradientType=1 );
}

@media (max-width: 768px) {
  .single__skill {
    width: 90%;
    margin: 0 30px 50px;
  }
  .left__orient,
  .right__orient {
    transform: none;
    left: -22px;
    width: 100px;
    height: 40px;
  }
  .single__transform {
    transform: none;
  }
}

@media (min-width: 768px) {
  .left__orient {
    left: -45px;
  }
  .right__orient {
    right: -48px;
  }
}

@media (min-width: 992px) {
  .left__orient {
    left: -57px;
  }
  .right__orient {
    right: -58px;
  }
}

@media (min-width: 1200px) {
  .left__orient {
    left: -68px;
  }
  .right__orient {
    right: -68px;
  }
}

@media (min-width: 1400px) {
  .left__orient {
    left: -68px;
  }
}
