h3 {
    font-size: 30px;
    line-height: 42px;
}

p{
        line-height: 1.6;
    margin-top: 12px;
        padding: 0px;
    font-size: 22px;
    line-height: 1.8;
    color: #acacac;
    margin: 0px auto;
    -webkit-font-smoothing: antialiased;
}
.line {
    width: calc(100% - 148.125px);
}
.single__skill {
    width: 50%;
    max-width: 535px;
    margin-bottom: 50px;
    background: #1c1d21;
    padding: 15px 30px 20px;
    border-radius: 5px;
    border: 1px solid #26272d;
    position: relative;
    z-index: 1;
    align-self: stretch;
    transform: translateX(30px);
    opacity: 0;
    visibility: hidden;
    transition: all 1.5s ease 0.1s;
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.circle {
    display: block;
    width: 18px;
    height: 18px;
    background: #f43534;
    border-radius: 100%;
    position: absolute;
    top: 50px;
    right: -61px;
    z-index: 2;
    box-shadow: 0 0px 0px 8px #333;
}

.rectengle {
    right: -32px;
    width: 65px;
}

.line {
    display: block;
    position: relative;
    top: 5px;
    margin-left: 30px;
    height: 2px;
    background: -moz-linear-gradient(left, rgba(78,78,78,1) 0%, rgba(15,15,15,0) 81%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(left, rgba(78,78,78,1) 0%,rgba(15,15,15,0) 81%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right, rgba(78,78,78,1) 0%,rgba(15,15,15,0) 81%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e4e4e', endColorstr='#00000000',GradientType=1 );
}