.skill {
  background-color: #16171b;
  color: #acacac;
  font-size: 90px;
}
.container {
  width: 100%;
  margin: 0 auto;
}

.skill__wrapper {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  z-index: 2;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.section__title {
  font-size: 90px;
  transform: translateX(-83px);
  transform: translate(0);
  position: relative;
  text-align: center;
  top: 0;
  text-transform: lowercase;
  margin-bottom: 50px;
  text-shadow: -1px -1px 0 #606163, 1px -1px 0 #606163, -1px 1px 0 #606163,
    1px 1px 0 #606163;
  color: #16171b;
}

.vertical__line {
  display: block;
  height: calc(100% + 40px);
  width: 2px;
  background: #f43534;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: -40px;
}
.vertical__line:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #f43534;
  left: -7px;
  top: 0;
}
.vertical__line:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #f43534;
  left: -7px;
  bottom: 0;
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .skill__wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .vertical__line {
    left: 18px;
  }

  .section__title {
    font-size: 50px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1280px;
  }
}
