.skill {
  background-color: #16171b;
  color: #acacac;
  font-size: 90px;
}
.container {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1280px;
  }
}

.section__title {
  transform: translateX(-83px);
  transform: translate(0);
  position: relative;
  text-align: center;
  top: 0;
  text-transform: lowercase;
  margin-bottom: 50px;
  text-shadow: -1px -1px 0 #26272d, 1px -1px 0 #26272d, -1px 1px 0 #26272d,
    1px 1px 0 #26272d;
  color: #16171b;
}

.skill .skill__wrapper {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  z-index: 2;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.skill__wrapper .vertical__line {
  display: block;
  height: calc(100% + 80px);
  width: 2px;
  background: #f43534;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: -40px;
}
