.pos__relative {
  position: relative;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.vertical__line {
  background: #26272d;
  width: 1px;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1;
}
.vertical__line.line1 {
  left: calc(100% / 6);
}
.vertical__line.line2 {
  left: calc(100% / 6 * 2);
}
.vertical__line.line3 {
  left: calc(100% / 6 * 3);
}
.vertical__line.line4 {
  left: calc(100% / 6 * 4);
}
.vertical__line.line5 {
  left: calc(100% / 6 * 5);
}
.hero__section .vertical__logo {
  width: 268px;
}
.hero__section {
  background: #16171b url("../../img/bgd/hero-bg.jpg") no-repeat;
  background-position: center top;
  background-size: 100%;
}

.hero__section .overlay {
  background: rgba(22, 23, 27, 0.6);
  z-index: 2;
}
.hero__section .animate__bg__wrapper {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.hero__section .animate__bg__wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
}
.hero__section .animate__bg__wrapper img.bg__img1 {
  z-index: 1;
  opacity: 1;
}
.hero__section .animate__bg__wrapper img.bg__img2 {
  z-index: 2;
}
.hero__section .animate__bg__wrapper img.bg__img3 {
  z-index: 3;
}
.hero__section .animate__bg__wrapper img.bg__img4 {
  z-index: 4;
}

.hero__section .hero__image__wrapper {
  width: 100%;
  max-width: 1280px;
  position: absolute;
  right: 50%;
  top: 0;
  height: 100%;
  z-index: 3;
  transform: translateX(50%);
}
.hero__section .hero__image {
  width: 100%;
  max-width: 440px;
  position: absolute;
  right: 6px;
  height: 100%;
  display: block;
  z-index: 2;
  background: url(../../img/bgd/hero-img-bg.jpg) no-repeat center right/cover;
}
.hero__section .hero__image:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #16171b;
  transition: all 0.8s ease;
}
.hero__section .hero__image.animated:before {
  width: 0;
}
.hero__section .hero__image img {
  height: 100%;
  display: block;
  max-width: 100%;
}
.hero__section .vertical__logo {
  position: absolute;
  left: calc(100% / 6);
  top: 50%;
  transform: translateY(-50%);
}
.hero__section .vertical__logo svg {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' id='Слой_1' data-name='Слой 1' viewBox='0 0 36.311 48.744'%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill:%23691c1c%7d.cls-2%7bfill:%23030000%7d%3c/style%3e%3c/defs%3e%3cpath d='M.046 20.145c0-6.107.05-12.215-.037-18.321C-.012.335.419-.055 1.869.006c4.664.2 9.346-.267 14 .6 4.32.806 6.421 2.94 6.65 7.3.15 2.852.188 5.717.108 8.572a9.339 9.339 0 0 1-2.573 6.161c-1.841 1.989-4.064 1.933-5.913-.06a9.658 9.658 0 0 1-1.926-3.353c-.356-.978-.8-1.727.735-2.366 1.448-.6 1.454-8.168.166-9.171a3.554 3.554 0 0 0-2.991-.472c-1 .222-.469 1.317-.474 1.993-.044 6.822-.009 13.644-.033 20.466-.016 4.588-3.447 9.279-7.474 10.376-1.462.4-2.175.294-2.138-1.592.116-6.099.04-12.208.04-18.315Zm1.042-.151v16.967c0 2.2.424 2.492 2.333 1.332a9.87 9.87 0 0 0 5.053-8.676c.087-7.084.02-14.171.032-21.257 0-.692-.206-1.473.464-2 1.1-.867 4.957-.128 5.428 1.187a12.748 12.748 0 0 1-.109 9.474c-.41.97-1.424 1.669-.649 2.881a7.005 7.005 0 0 0 2.248 2.638 2.22 2.22 0 0 0 2.855-.264 7.528 7.528 0 0 0 2.64-5.45c.1-2.987.068-5.981-.013-8.97-.1-3.577-2.008-5.523-5.588-6.07a87.419 87.419 0 0 0-12.985-.748c-1.4 0-1.752.474-1.738 1.8.064 5.715.03 11.436.029 17.156Z' class='cls-1'/%3e%3cpath d='M27.903 30.543c-2.882.011-5.411.328-7.559-1.463a1.036 1.036 0 0 0-1.426-.029c-.606.517-.227 1.052.076 1.555a3.153 3.153 0 0 0 2.159 1.188c1.627.442 3.262.865 4.91 1.215 5.02 1.066 7.764 4.589 9.848 8.917a3.105 3.105 0 0 1-1.017 4.126c-4.236 3.526-13.39 3.745-17.824-.24-1.895-1.7-2.284-4.154-2.747-6.524-.158-.807.365-.866.906-.846 3.276.121 6.566.2 8.431 3.636a1.7 1.7 0 0 0 2.37.684c1-.436.635-1.3.347-2.018a5.328 5.328 0 0 0-3.579-3.542c-2.246-.621-4.439-1.429-6.656-2.154a5.539 5.539 0 0 1-2.587-1.66c-2.06-2.432-1.361-5.2 1.639-6.107a17.293 17.293 0 0 1 8.482-.468c1.981.395 3.052 1.803 4.227 3.73Zm-2.12 16.993c2.782-.168 5.587-.277 7.955-2.049.994-.744 1.753-1.681 1.14-2.995-1.837-3.938-4.206-7.323-8.85-8.314-1.9-.405-3.772-.914-5.635-1.45-2.352-.676-2.946-1.5-2.726-3.909.058-.64-.066-.938-.624-.816-1.313.285-2.933.388-3.37 1.9a3.03 3.03 0 0 0 1.482 3.344 10.2 10.2 0 0 0 2.292 1.042c2.079.725 4.177 1.392 6.266 2.087 2.449.814 3.466 2.862 4.066 5.084a1.95 1.95 0 0 1-1.808 2.495 3 3 0 0 1-3.449-1.548c-1.339-2.341-3.663-2.675-6.065-2.747-.5-.014-.913.091-.759.779.54 2.418 1.395 4.669 3.858 5.729a13.944 13.944 0 0 0 6.227 1.368Zm-5.38-20.038a5.03 5.03 0 0 0 5.069 1.713c-1.298-1.735-3.181-1.351-5.066-1.713Z' class='cls-1'/%3e%3cpath d='M1.089 19.994c0-5.72.034-11.441-.026-17.161-.014-1.326.337-1.8 1.738-1.8a87.419 87.419 0 0 1 12.982.748c3.58.547 5.491 2.493 5.588 6.07.081 2.989.11 5.983.013 8.97a7.528 7.528 0 0 1-2.641 5.454 2.22 2.22 0 0 1-2.855.264 7.005 7.005 0 0 1-2.248-2.638c-.775-1.212.239-1.911.649-2.881a12.748 12.748 0 0 0 .109-9.474c-.471-1.315-4.327-2.054-5.428-1.187-.67.528-.463 1.309-.464 2-.012 7.086.055 14.173-.032 21.257a9.87 9.87 0 0 1-5.053 8.676c-1.909 1.16-2.33.866-2.333-1.332q-.005-8.481.001-16.966ZM25.783 47.536a13.944 13.944 0 0 1-6.227-1.373c-2.463-1.06-3.318-3.311-3.858-5.729-.154-.688.261-.793.759-.779 2.4.072 4.726.406 6.065 2.747a3 3 0 0 0 3.449 1.548 1.95 1.95 0 0 0 1.812-2.495c-.6-2.222-1.617-4.27-4.066-5.084-2.089-.7-4.187-1.362-6.266-2.087a10.2 10.2 0 0 1-2.292-1.042 3.03 3.03 0 0 1-1.482-3.344c.437-1.507 2.057-1.61 3.37-1.9.558-.122.682.176.624.816-.22 2.409.374 3.233 2.726 3.909 1.863.536 3.74 1.045 5.635 1.45 4.644.991 7.013 4.376 8.85 8.314.613 1.314-.146 2.251-1.14 2.995-2.369 1.777-5.174 1.886-7.959 2.054ZM20.406 27.498c1.885.362 3.768-.022 5.069 1.713a5.03 5.03 0 0 1-5.069-1.713Z' class='cls-2'/%3e%3c/svg%3e");
  display: block;
  opacity: 5%;
  max-width: 100%;
}
.hero__section .social__icon {
  position: absolute;
  right: 40px;
  bottom: 40px;
  z-index: 2;
}
.hero__section .scroll__down {
  position: absolute;
  bottom: 110px;
  left: -10px;
  font-size: 14px;
  color: #acacac;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  transform-origin: top;
  transform: rotate(-90deg) translateX(50px);
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 1s;
}
.hero__section .scroll__down.animated {
  transform: rotate(-90deg) translateX(0px);
  opacity: 1;
  visibility: visible;
}
.hero__section .scroll__down img {
  position: absolute;
  width: 14px;
  transform: rotate(90deg);
  transform-origin: center;
  left: -30px;
  top: 1px;
  animation: scroll__down-move 1s ease infinite;
}
.hero__section .content__wrapper {
  height: 100vh;
  width: 100%;
  min-height: 750px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
}
.hero__section .hero__image__wrapper .dot__texture {
  position: absolute;
  right: -107px;
  bottom: 20px;
}
.hero__section .hero__content {
  position: relative;
  z-index: 4;
}
.hero__section .hero__content h1 {
  background: url("../../img/icons/hero-title-pettern-bg.png") no-repeat 95%
    center / contain;
  font-size: 142px;
  line-height: 0.8;
  color: #fff;
  font-family: "Futura Md BT";
  font-weight: bold;
  display: inline-block;
  margin-left: -10px;
  transition: all 1.2s ease 0.4s;
}
.hero__section .hero__content h2 {
  color: #fff;
  font-family: "Futura Md BT";
  font-weight: 500;
  margin-top: 16px;
  transition: all 1.2s ease 0.7s;
}
.hero__section .hero__content .hire__me {
  transition: all 1.2s ease 0.9s;
}

.hero__section .hero__content .hire__me,
.hero__section .hero__content h1,
.hero__section .hero__content h2 {
  transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
}
.hero__section .hero__content .hire__me.animated,
.hero__section .hero__content h1.animated,
.hero__section .hero__content h2.animated {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}
@-webkit-keyframes scroll__down-move {
  0% {
    left: -30px;
  }
  50% {
    left: -40px;
  }
  100% {
    left: -30px;
  }
}
@keyframes scroll__down-move {
  0% {
    left: -30px;
  }
  50% {
    left: -40px;
  }
  100% {
    left: -30px;
  }
}

@media (max-width: 1199px) {
  .vertical__line.line1 {
    left: calc(100% / 4);
  }
  .vertical__line.line2 {
    left: calc(100% / 4 * 2);
  }
  .vertical__line.line3 {
    left: calc(100% / 4 * 3);
  }
  .vertical__line.line4,
  .vertical__line.line5 {
    display: none;
  }
}

@media (max-width: 575px) {
  .vertical__line.line2 {
    left: calc(100% / 3 * 2);
  }
  .vertical__line.line3 {
    display: none;
  }
}
@media (max-width: 1700px) {
  .hero__section .vertical__logo {
    width: 268px;
  }
}
@media (max-width: 1599px) {
  .hero__section .hero__image__wrapper {
    max-width: 1080px;
  }
  .hero__section .hero__image {
    max-width: 400px;
  }
  .hero__section .vertical__logo {
    width: 230px;
  }
}
@media (max-width: 1399px) {
  .hero__section .hero__image__wrapper {
    max-width: 970px;
  }
  .hero__section .hero__image {
    max-width: 380px;
  }
  .hero__section .hero__image__wrapper .dot__texture {
    right: -76px;
  }
  .hero__section .vertical__logo {
    width: 210px;
  }
  .hero__section .hero__content h1 {
    font-size: 122px;
  }
  .hero__section .hero__content h2 {
    font-size: 30px;
    line-height: 44px;
    max-width: 670px;
    width: 100%;
  }
}
@media (max-width: 1199px) {
  .hero__section .content__wrapper {
    padding: 0 15px;
  }
  .hero__section .hero__image__wrapper {
    max-width: 770px;
  }
  .hero__section .hero__image {
    max-width: 378px;
  }
  .hero__section .vertical__logo {
    width: 240px;
    left: calc(100% / 4);
  }
  .hero__section .hero__content h1 {
    font-size: 90px;
  }
  .hero__section .hero__content h2 {
    font-size: 24px;
    line-height: 34px;
    max-width: 480px;
  }
}
@media (max-width: 991px) {
  .hero__section .hero__image {
    max-width: 310px;
    background-position: 94% 100%;
  }
  .hero__section .hero__content h1 {
    font-size: 76px;
  }
  .hero__section .hero__content h2 {
    font-size: 22px;
    line-height: 34px;
    max-width: 440px;
  }
  .hero__section .vertical__logo {
    width: 190px;
  }
  .hero__section .hero__image__wrapper .dot__texture {
    display: none;
  }
}
@media (max-width: 767px) {
  .hero__section .hero__image {
    max-width: 271px;
  }
}
@media (max-width: 575px) {
  .hero__section .content__wrapper {
    min-height: 670px;
  }
  .hero__section .hero__image__wrapper {
    display: none;
  }
  .hero__section .hero__content {
    text-align: center;
  }
  .hero__section .hero__content h1 {
    font-size: 45px;
    line-height: 1.1;
    background: none;
    margin-left: 0;
  }
  .hero__section .vertical__logo {
    width: 130px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hero__section .hero__content h2 {
    margin-left: auto;
    margin-right: auto;
  }
}
