.single__portfolio {
  /* width: 100%;
  position: relative; */
}
.img__area {
  /* object-fit: cover; */
}

.single__portfolio a {
  /* display: inline-block;
  width: calc(100vw-5px); */
}

.number {
  position: absolute;
  left: 50%;
  top: -3%;
}

@media (max-width: 768px) {
  .single__portfolio {
  }
}

@media (min-width: 768px) {
  .single__portfolio {
  }
  .img__area {
  }
}

@media (min-width: 992px) {
  .single__portfolio {
  }
  .img__area {
  }
}

@media (min-width: 1200px) {
  .single__portfolio {
  }
  .img__area {
  }
}

@media (min-width: 1400px) {
  .single__portfolio {
  }
  .img__area {
  }
}
