.single__portfolio {
  /* width: 100%;
  position: relative; */
}
.img__area {
  background: #1e1f23;
  width: 55%;
  padding: 45px;
  position: relative;
}
.img__area::before {
  content: url(../../images/dot-texture.png);
  position: absolute;
  bottom: -228px;
  left: 195px;
  z-index: 0;
  transform: rotate(90deg);
}

.single__portfolio a {
  /* display: inline-block;
  width: calc(100vw-5px); */
}

.number {
  position: absolute;
  left: 50%;
  top: -3%;
}

@media (max-width: 768px) {
  .single__portfolio {
  }
}

@media (min-width: 768px) {
  .single__portfolio {
  }
  .img__area {
  }
}

@media (min-width: 992px) {
  .single__portfolio {
  }
  .img__area {
  }
}

@media (min-width: 1200px) {
  .single__portfolio {
  }
  .img__area {
  }
}

@media (min-width: 1400px) {
  .single__portfolio {
  }
  .img__area {
  }
}
