.single__portfolio {
  position: relative;
  width: 100%;
}

a {
  display: inline-block;
  width: calc(100vw-5px);
}

.number {
  position: absolute;
  left: 50%;
  top: -3%;
}

@media (max-width: 768px) {
  .single__portfolio {
    display: block;
  }
}

@media (min-width: 768px) {
  .single__portfolio {
    display: flex;
  }
  .img__area {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .single__portfolio {
    display: flex;
  }
  .img__area {
    width: 55%;
  }
}

@media (min-width: 1200px) {
  .single__portfolio {
    display: flex;
  }
  .img__area {
    width: 60%;
  }
}

@media (min-width: 1400px) {
  .single__portfolio {
    display: flex;
  }
  .img__area {
    width: 65%;
  }
}
