.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5em;
}

.editor {
  margin-right: 10em;
}

.ck-editor__editable_inline {
  min-height: 500px;
}
.verticalLine {
  background: #26272d;
  width: 1px;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1;
}
.verticalLine.line1{
  left: calc(100% / 6);
}
.verticalLine.line2{
  left: calc(100% / 6*2);
}
.verticalLine.line3{
  left: calc(100% / 6*3);
}
.verticalLine.line4{
  left: calc(100% / 6*4);
}
.verticalLine.line5{
  left: calc(100% / 6*5);
}

@media (max-width: 575px) {
  .verticalLine.line2 {
      left: calc(100% / 3 * 2);
  }
  .verticalLine.line3 {
      display: none;
  }
}

@media (max-width: 1199px) {
  .verticalLine.line1 {
      left: calc(100% / 4);
  }
  .verticalLine.line2 {
      left: calc(100% / 4 * 2);
  }
  .verticalLine.line3 {
      left: calc(100% / 4 * 3);
  }
  .verticalLine.line4,
  .verticalLine.line5 {
      display: none;
  }
}