.footer__section {
  width: 100%;
}

.container {
  /* background-color: #f43534; */
  display: flex;
}

.copyright__text {
  display: flex;
}

.footer__section .container {
  flex-flow: column-reverse;
  justify-content: center;
  text-align: center;
}

.footer__section {
  border-top: 1px solid #26272d;
  position: relative;
  z-index: 2;
  padding: 20px 0;
}

.footer__section .container {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 8px;
  padding-left: 20px;
}

.footer__section .copyright__text {
  width: 45%;
  display: flex;
  justify-content: space-around;
  font-size: 17px;
  color: #fff;
}
.footer__section .container .copyright__text p a {
  color: #f43534;
  font-weight: 700;
}
.footer__section .container .copyright__text p a:hover {
  text-decoration: underline;
}
.footer__section .container .social__icon {
  display: flex;
  align-items: center;
}
.footer__section .container .social__icon li {
  margin-left: 5px;
}
